<div ng-include src="'/project/views/header/header.view.client.html'"></div>

<div class="row container-fluid visi">

    <!-- SIDEBAR -->
    <div ng-include src="'/project/views/header/friends-sidebar.view.client.html'"></div>

    <div class="col-xs-12 col-sm-10">

        <div ng-show="model.error" class="alert alert-danger" role="alert">
            {{model.error}}
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-5 text-center">
                    <img ng-src="{{model.friend.avatar}}" class="img-thumbnail" height="100%" width="128"/>
                </div>
                <div class="col-xs-4 col-sm-3 col-xs-1-offset text-center username" >
                    <h1>{{model.friend.username}}</h1>
                    <div ng-if="model.friend.admin">
                    (admin)
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-xs-4 col-sm-3 text-center">
                    <span class="glyphicon glyphicon-plus-sign"  ng-click="model.addFriend()" title="Add Friend"></span>
                </div>
                <div class="col-xs-4 col-sm-3 text-center">
                    <span class="glyphicon glyphicon-knight" ng-click="model.challengeToGame()" title="Challenge to a new Game"></span>
                </div>
                <div class="col-xs-4 col-sm-3 text-center">
                    <a href="#/player/{{model.userId}}/message/{{model.friendId}}"><span class="glyphicon glyphicon-envelope"></span></a>
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <ul class="list-group col-xs-12 col-sm-10">
                <li class="list-group-item">
                    <strong>Total Friends: </strong>{{model.stats.friends}}
                </li>
                <li class="list-group-item">
                    <strong>Total Games: </strong>{{model.stats.totalGames}}
                </li>
                <li class="list-group-item">
                    <strong>Games Won: </strong>{{model.stats.gamesWon}}
                </li>
                <li class="list-group-item">
                    <strong>Total Lost: </strong>{{model.stats.gamesLost}}
                </li>
                <li class="list-group-item">
                    <strong>Sign up date: </strong>{{model.stats.memberSince | date:'MMM dd, yyyy'}}
                </li>
            </ul>            

        </div>
        <br>
        <div ng-if="model.user.admin">
            <div class="text-center">
                <h2>Admin Options</h2>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-3 col-sm-2 text-center col-sm-offset-1">
                        <span class="glyphicon glyphicon-plus-sign"  ng-click="model.showAllFriends()" title="Show all of {{model.user.username}}'s friends"  style="color: red;"></span>
                    </div>
                    <div class="col-xs-3 col-sm-2 text-center">
                        <span class="glyphicon glyphicon-knight" ng-click="model.showAllGames()" title="Show all of {{model.user.username}}'s games"  style="color: red;"></span>
                    </div>
                    <div class="col-xs-3 col-sm-2 text-center">
                        <span class="glyphicon glyphicon-envelope" ng-click="model.showAllMessages()" title="Show all of {{model.user.username}}'s messages"  style="color: red;"></span>
                    </div>
                    <div class="col-xs-3 col-sm-2 text-center">
                        <span class="glyphicon glyphicon-remove" ng-click="model.deleteThisUser()" title="Delete {{model.user.username}}"  style="color: red;"></span>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row col-xs-10 col-sm-12">
                    <ul class="list-group">
                        <div ng-repeat="friend in model.friends">
                            <li class="list-group-item">
                                {{friend.username}}
                                    <span class="badge pull-right" style="color:red"><span class="glyphicon glyphicon-remove"  title="Remove friend relationship from this user" ng-click="model.deleteFriendRelation(friend._id)"></span></span>
                            </li>
                        </div>
                        <div ng-repeat="message in model.messages">
                            <li class="list-group-item">
                                TO: {{message.to}} <br>
                                TEXT: {{message.message}}
                                    <span class="badge pull-right" style="color:red"><span class="glyphicon glyphicon-remove"  title="Delete this message" ng-click="model.deleteMessage(message._id)"></span></span>
                            </li>
                        </div>
                        <div ng-repeat="game in model.games">
                            <li class="list-group-item">
                                {{game.player1.username}} vs {{game.player2.username}} <br>
                                STARTED: {{game.dateStarted | date : 'MMMM d, yyyy'}}
                                    <span class="badge pull-right" style="color:red"><span class="glyphicon glyphicon-remove"  title="Delete this game" ng-click="model.deleteGame(game._id)"></span></span>
                            </li>
                        </div>
                    </ul>            
                </div>
            </div>
        </div>

    </div>
</div>
