<div class="sidebar-left col-sm-2 hidden-xs" style="height:20em">
    <ul class="list-group text-center">
        <div ng-repeat="game in model.user.games">
            <li class="row list-group-item text-left" ng-if="game.status != 'COMPLETE'">
                <div ng-if="!game.player2">
                    <a href="#/player/{{model.playerId}}/game/{{game._id}}/">
                        Waiting for challenger
                    </a>
                    <span class="badge pull-right" style="color:grey"><span class="glyphicon glyphicon-remove" ng-click="model.deleteGame(game._id)"></span></span>
                </div>            
                <div ng-if="game.player2">
                    <a href="#/player/{{model.playerId}}/game/{{game._id}}/">
                        {{game.player1.username}} vs {{game.player2.username}}
                    </a>
                    <span class="badge pull-right" style="color:grey"><span class="glyphicon glyphicon-remove"  title="Delete game" ng-click="model.deleteGame(game._id)"></span></span>
                </div>
            </li>
        </div>
    </ul>
</div>