input.form-control {
    margin-bottom: 5px;
}

.navbar-header {
    width:100%;
}

body {
    padding-top: 65px;
    padding-bottom: 65px;
}

button {
  background: none;
  outline: none;
}

a:hover{
  text-decoration: none;
}

.glyphicon {
  cursor: pointer;
  color: black;
  pointer-events: all;
}

.glyphicon-cog {
  color: #006dcc;
}

.glyphicon-user {
  color: #006dcc;
}


ul {
  list-style-type: none;
}

.wrapper {
  position: relative;
}

.wrapper .glyphicon {
  background-color: white;
  padding: 5px;
  -moz-border-radius: 0 0 0 6px;
  border-radius: 0 0 0 6px;
  color: #006dcc;
  position: absolute;
  top: 0px;
  right: 0px;
}

.youtube-widget {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.youtube-widget iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

