.navbar .glyphicon {
	color: white;
}

.navbar {
	background-color: #77db3d;
}


.navbar a {
	color: white;
}

.navbar a:visited {
	color: white;
}

.navbar a:hover {
	color: white;
}


.navbar a:link {
	color: white;
}


.navbar-brand {
	color: #77db3d;
}