<span ng-if="model.edit || model.new">
    <form action="/api/upload"  method="post" enctype="multipart/form-data">
        <input  name="myFile"   type="file" class="form-control"/>
        <input name="redirect" value="{{model.redirect}}" style="display: none" />
        <input name="pageId" value="{{model.pageId}}" style="display: none" />
        <input  name="width"    value="{{model.widget.width}}" style="display: none"/>
        <input  name="widgetId" value="{{model.widget._id}}"   style="display: none"/>
        <button type="submit"   class="btn btn-block btn-primary">Upload Image</button>
    </form>
<span ng-if="model.edit">
    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}/flickr-search" class="btn btn-block btn-success">Search Flickr</a>
</span>
<span ng-if="model.new">
    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/flickr-search" class="btn btn-block btn-success">Search Flickr</a>
</span>
</span>


<span ng-if="model.show">
    <div class="wrapper">
        <img ng-src="{{widget.url}}" class="img-responsive" width="{{widget.width}}">
        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}"><span class="glyphicon glyphicon-cog"></span></a>
    </div>

</span>

