<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"><span class="glyphicon glyphicon-chevron-left"></span>
            Choose Widget</a>
        </div>
    </div>
</nav>

<div class="container nounderline">

    <form>
        <ul>
            <li>
            <div class="form-group">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new/heading   ">Header</a>
            </div>
            </li>
            <li>
            <div class="form-group">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">Label</a>
            </div>
            </li>
            <li>
            <div class="form-group">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new/html">HTML</a>
            </div>
            </li>
            <li>
            <div class="form-group">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new/text">Text Input</a>
            </div>
            </li>
                        <li>
            <div class="form-group">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">Link</a>
            </div>
                        <li>
            <div class="form-group">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">Button</a>
            </div>
            </li>
            <li>
            <div class="form-group">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new/image">Image</a>
            </div>
            </li>
                        <li>
            <div class="form-group">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new/youtube">Youtube</a>
            </div>
            </li>
                        <li>
            <div class="form-group">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">Data Table</a>
            </div>
            </li>
                        <li>
            <div class="form-group">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">Repeater</a>
            </div>
            </li>
        </ul>
    </form>


</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/"><span class="glyphicon glyphicon-user"></span></a>
            </p>
    </div>
</nav>