<div ng-if="model.edit">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" ng-model="model.widget.name" class="form-control" id="username" placeholder="name">
        </div>
        <div class="form-group">
            <label for="description">Text</label>
            <input type="text" ng-model="model.widget.text" class="form-control" id="description" placeholder="text description">
        </div>
        <div class="form-group">
            <label for="url">URL</label>
            <input type="url" ng-model="model.widget.url" class="form-control" id="url" placeholder="youtube.com">
        </div>
        <div class="form-group">
            <label for="width">Width</label>
            <input type="text" ng-model="model.widget.width" class="form-control" id="width" placeholder="width">
        </div>


</div>

<div ng-if="model.show">
    <div class="wrapper embed-responsive embed-responsive-16by9">
        <iframe class="youtube-player" ng-src="{{model.trustSource(widget.url)}}" allowfullscreen width="{{widget.size}}"></iframe>
        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}"><span class="glyphicon glyphicon-cog"></span></a>

    </div>
</div>
<!-- <div class="wrapper embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/oKza_DRY82U" allowfullscreen></iframe>

<a href="#/widget-youtube"><span class="glyphicon glyphicon-cog"></span></a></div>
-->