<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/widget-list"><span class="glyphicon glyphicon-chevron-left"></span>
            Choose Widget</a>
        </div>
    </div>
</nav>

<div class="container nounderline">

    <form>
        <ul>
            <li>
            <div class="form-group">
                <a href="#/widget-heading">Header</a>
            </div>
            </li>
            <li>
            <div class="form-group">
                <a href="#/#">Label</a>
            </div>
            </li>
            <li>
            <div class="form-group">
                <a href="#/#">HTML</a>
            </div>
            </li>
            <li>
            <div class="form-group">
                <a href="#/#">Text Input</a>
            </div>
            </li>
                        <li>
            <div class="form-group">
                <a href="#/#">Link</a>
            </div>
                        <li>
            <div class="form-group">
                <a href="#/#">Button</a>
            </div>
            </li>
                        <li>
            <div class="form-group">
                <a href="#/widget-image">Image</a>
            </div>
            </li>
                        <li>
            <div class="form-group">
                <a href="#/widget-youtube">Youtube</a>
            </div>
            </li>
                        <li>
            <div class="form-group">
                <a href="#/#">Data Table</a>
            </div>
            </li>
                        <li>
            <div class="form-group">
                <a href="#/#">Repeater</a>
            </div>
            </li>
        </ul>
    </form>


</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
            <p class="navbar-text pull-right">
                <a href="#/profile"><span class="glyphicon glyphicon-user"></span></a>
            </p>
    </div>
</nav>