<span ng-if="model.edit">
    <form action="/api/upload"  method="post" enctype="multipart/form-data">
        <input  name="myFile"   type="file" class="form-control"/>
        <input  name="width"    value="{{model.widget.width}}" style="display: none"/>
        <input  name="widgetId" value="{{model.widget._id}}"   style="display: none"/>
        <button type="submit"   class="btn btn-block btn-primary">Upload Image</button>
    </form>
    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}/flickr-search" class="btn btn-block btn-success">Search Flickr</a>
</span>
<!--
    <form action="/api/upload"  method="post" enctype="multipart/form-data">
    <div class="form-group">
            <label for="name">Name</label>
            <input type="text" ng-model="model.widget.name" class="form-control" id="username" placeholder="name">
        </div>
        <div class="form-group">
            <label for="description">Text</label>
            <input type="text" ng-model="model.widget.text" class="form-control" id="description" placeholder="text description">
        </div>
        <div class="form-group">
            <label for="url">URL</label>
            <input type="url" ng-model="model.widget.url" class="form-control" id="url" placeholder="tumblr.com">
        </div>
        <div class="form-group">
            <label for="width">Width</label>
            <input type="text" ng-model="model.widget.width" class="form-control" id="width" placeholder="width">
        </div>
        <div class="form-group">
            <label for="upload">Upload</label>
            <input type="file" ng-model="model.widget.directory" class="form-control" id="upload" placeholder="width">
        </div>
        <a href="#/#" class="btn btn-primary btn-block">
            Upload Image
        </a>
    </form>
    -->

<span ng-if="model.show">
    <div class="wrapper">
        <img ng-src="{{widget.url}}" class="img-responsive" width="{{widget.width}}">
        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}"><span class="glyphicon glyphicon-cog"></span></a>
    </div>

</span>

